@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    /*font-family: 'Orbitron', sans-serif;*/
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
}
.page {
    background-color: #66baff;
    margin: 0;
    box-sizing: border-box;
    font-size: clamp(10%, 30px, 200%);
}

.calculator {
    width: 28vw;
    height: 100%;
    margin: 2rem;
    padding: 2%;
    background-color: #36128c;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 20px 10px 20px, rgba(0, 0, 0, .4) 5px 5px 6px;
    border: 5px solid #1d2283;
    min-width: 20vw;
}

.screen {
    background-color: #05092a;
    color: white;
    margin: 1%; 
    width: 100%;
    height: 15vh;
    border-radius: .8rem;
    color: white;
}

.result {
    font-size: clamp(10%, 32px, 200%);
    background-color: #05092a;
    color: white;
    width: 100%;
    margin: auto;
    text-align: end;
    padding-right: 5%;
    height: 100%;
    border: 0;
    outline: 0;
    border-radius: .8rem;
    background: transparent;
}
.result:focus{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid #00ffef;
}
.controls {
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 10%;
    background-color: #4618b5;
    width: clamp(50%, 100%, 110%);
    height: 90%;
    border-radius: .8rem;
    border-color: white;
}
.control-row {
    padding: 1%;
    width: clamp(1%, 90%, 110%);
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button {
    width: 6vw;
    height: 9vh;
    padding: 1%;
    margin: .1rem;
    background-color: #05092a;
    color: #00ffef;
    border-radius: .5rem;
    border: 2px solid #00ffef;
    font-size: clamp(10%, 25px, 200%);
    transition: .25s ease-in-out;
}
.button:hover{
    border-color: #ff00af;
    color: #ff00af;
    transition: border-color .25s ease-in-out;
    transform: translateY(2px);
}
.button:active {
    transform: scale(1.2);
    transition: transform .25s ease-in-out;
}
.button-clear {
    width: clamp(10%, 100%, 110%);
    height: 8vh;
    padding: 1%;
    margin: .1rem;
    background-color: #05092a;
    color: #00ffef;
    border-radius: .5rem;
    border: 2px solid #00ffef;
    font-size: clamp(10%, 20px, 200%);
    transition: .25s ease-in-out;
}
.button-clear:hover {
    border-color: #ff5b40;
    color: #ff00af;
    transition: border-color .25s ease-in-out;
    transform: translateY(10px);
    transition: transform .25s ease-in-out;
}
.button-clear:active {
    background-color: #05092a;
    border-color: #ff5b40;
    transform: translateY(10px);
    transition: transform .25s ease-in-out;
}